<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient details</title>
  </head>
  <body>
  <h1>Patient Details</h1>
  <!--<p>Id: <span th:text="${patient.patientId}"></span></p> -->
  <p>First Name: <span th:text="${patient.firstname}"></span></p>
  <p>Last Name: <span th:text="${patient.lastname}"></span></p>
  <p>Gender: <span th:text="${patient.gender}"></span></p>
  <p>Address: <span th:text="${patient.address}"></span></p>
  <p>Phone Number: <span th:text="${patient.phoneNumber}"></span></p>

  <section>
    <h2>Notes du patient</h2>
    <div th:if="${#lists.isEmpty(notes)}">Aucune note enregistrée.</div>
    <ul th:if="${!#lists.isEmpty(notes)}">
      <li th:each="note : ${notes}">
          <span th:text="${note.note}"></span>
      </li>
    </ul>
  </section>

  <section>
    <h3>Ajouter une note</h3>
  <form method="post" th:action="@{/api/notes}" th:object="${noteForm}">
      <input type="hidden" th:field="*{patientId}" />
      <input type="hidden" th:field="*{patientLastname}" />
      <label for="note">Notes :</label><br />
      <textarea th:field="*{note}" id="note" rows="4" cols="40"></textarea><br />
      <div th:if="${#fields.hasErrors('note')}" th:errors="*{note}" style="color:red"></div>
      <button type="submit">Enregistrer</button>
    </form>
  </section>

  <a th:href="@{/api/patient/list}">Back to Patient List</a>
  </body>
</html>